Repository VIDA-NYU/reprozip, pull requests merged in 2021-06, with the labels that each got.

#372 add research notice to readme
  README.md
Labels: T-housekeeping

#374 Develop custom 'tar' replacement to merge bundle with existing system
  reprounzip-docker/reprounzip/unpackers/docker.py
  reprounzip-vagrant/reprounzip/unpackers/vagrant/__init__.py
  reprounzip/reprounzip/parameters.py
  reprounzip/reprounzip/unpackers/common/__init__.py
  reprounzip/reprounzip/unpackers/common/misc.py
Labels: C-unpackers/docker, C-unpackers/vagrant, T-enhancement

#344 Vagrant: make /experimentroot a mountpoint (bind mount)
  reprounzip-vagrant/reprounzip/unpackers/vagrant/__init__.py
Labels: A-pending-review, C-unpackers/vagrant

#375 Use Docker BuildKit's RUN --mount to build images
  reprounzip-docker/reprounzip_docker.py
Labels: A-pending-review, C-unpackers/docker, T-enhancement

#376 Make buildkit optional
  reprounzip-docker/reprounzip_docker.py
  tests/functional.py
Labels: C-unpackers/docker, T-enhancement
